<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login Here</h1>
    <form action="/users/login_post" method="post">
       
        <div>
            <label for=""> Email</label> <br>
            <input type="email" name="email">
        </div>
        <div>
            <label for="">Phone Number</label> <br>
            <input type="text" name="phoneNumber">
        </div> <br>
        <div>
           <button type="submit" name="submit">Login</button>
        </div>
    </form>
</body>
</html>